body {
    font-family: 'Roboto', sans-serif;
}
#logo {
    padding-left: 100px;
    padding-top:15px ;
    font-size: 24px;
    color: #f9faf8;
 }
a{
    text-decoration: none; /*Removes default style of an anchor tag (blue color and underline) */
    color: #F9FAF8; 
    font-size: 18px;

} 

ul {
    display:inline-flex;
    list-style-type: none; /*THIS REMOVES THE DISC STYLE FROM AN UNORDERED LIST*/
    justify-content: flex-end;
    right: 0;
    top: 0; 
    position: absolute;
}

li {
    padding-left: 20px;
    padding-right: 20px;
}

header {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 48px;
    color: #F9FAF8; 
    font-weight: 900;
}

.header-para {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color:#3883f6 ;
    /* padding: 8px; */
    padding-top:  5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-left: 100px; */
    margin-top: 7px;
    border-radius: 5px;
    border: none;
    /* margin-bottom: 50px; */
    color: white;

}

.image {
     height: 200px ;
     width: 450px;
     background-color: gray;
     padding-top: 30px;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
    border-radius: 7px;
    margin-left: 100px;
}

.text-presentation {
    margin-right: 100px;
}

.texts-image {
    display: flex; 
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    align-self: auto;
    margin-top: 50px;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 105px ;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.info-row {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 20px;
    /* background-color:#3883f6 ; */

}
.row{
    width: 190px;
    height: 190px;
    display: flex; 
    flex-direction: column;
    /* border-color: #3883f6; */
    
}
/* .info-image{
    border-radius: 5px;
    border-color: #3883f6;
    
} */

#img1{
    border-radius: 5px;
    width: 160px;
    height: 150px;
    border: 3px solid #3883f6;
}
#img2{
    border-radius: 5px;
    width: 160px;
    height: 150px;
    border: 3px solid #3883f6;
}
#img3{
    border-radius: 5px;
    width: 160px;
    height: 150px;
    border: 3px solid #3883f6;
}
#img4{
    border-radius: 5px;
    width: 160px;
    height: 150px;
    border: 3px solid #3883f6;
}

.para {
    color: #1F2937;
    font-family: 'ROboto', sans-serif;
    font-size: smaller;
}

.quote-section {
    background-color: #E5E7EB;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.quote {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* justify-content:center; */
    /* align-items: center; */
}

.quote-lines {
    font-style: italic;
    color: #1F2937;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight:lighter;
}

.quoteBy {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
}

.action-section {
    background-color: #3883f6;
    border-radius: 10px;
    display: flex;
    height: 100px;
    margin: 50px auto;
    justify-content: space-evenly;
    max-width: 800px;
    
}

.action-text {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    /* margin: 0; */
    align-items: flex-start;
    align-self: center;
}

.action-button {
    border: 1px solid #F9FAF8;
    padding: 10px;
    height: max-content;
    max-width: max-content;
    align-self: center ;
}
 
footer {
    background-color: #1F2937;
    width: 100%;
    height: 75px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
